
<!--Signup page-->
<!DOCTYPE html>
<html>
    <head>
      <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css')}}">
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>Questioner</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="author" content="" />
    </head>
    <body >
      <header >
              <nav class=header_content>
                <ul id="left">
                   <li id="questioner"><a href="/"><img src="{{ url_for('static',filename='images/questioner.jpeg')}}" ><b >Qustioner</b></a></li>
                </ul>
                <div id="dropdown">
                  <ul id="right">
                    <li><img src="{{ url_for('static',filename='images/nav.png')}}" /></li>
                  </ul>
                  <span id="right_link_content">
                    {% if session.logged_in %}
                      <li ><form class="search_form" action="" >
                      <input type="text" placeholder="Search.." name="search">
                      <input type="image" name="submit" border="0" alt="submit" src="../static/images/search.png" style="width:25px; height:23px; padding-right:8px;">
                      </form></li>

                      <li ><a href="/dashboard" >Dashboard</a></li>
                      <li ><a href="/profile" >Profile</a></li>
                      <li ><a href="/meetups" >meetups</a></li>
                      <li ><a href="/logout" >Logout</a></li>
                      {% else %}
                      <li ><a href="/login" >Login</a></li>
                      <li ><a href="/signup">Signup</a></li>
  {% endif %}
                         </ul>
                        </span></div>
                      </nav>
               </header>
	<div class="container">
            <aside id="container_left" >
                    <div>
                      <form  method="POST" action="" id="form">
                        <div class="losi_form">
                          <ul id="header">
                            <li ><h3>Ask question</h3></li>
                          </ul>
                          <ul id="field_container">
                            <li><textarea cols="65" rows="1" placeholder="Enter question title" name="question_title" required></textarea></li>
                            <li><textarea cols="65" rows="10" id="finput" placeholder="Enter question description" name="question_in_full" required></textarea></li>
                          </ul>
                          <ul >
                            <li ><input type="submit" value="Submit" id="submit"></li>
                          </ul>
                        </div>
                      </form>
                    </div>
        </aside>
        <div id="container_center">

          <div class="card_header">
          {% for meetup in meets %}
          {% if id==meetup.mid %}

<ul>
    <li>{{meetup.mtitle}}</li>
</ul>
          </div>

          <div class="card">
          <ul>
              <li>{{meetup.mdescription}}</li>
             <li id="card-inline"><input type="image" name="submit" border="0" alt="submit" src="../static/images/thumbup.png" style="width:30px; height:30px; margin-right:8px;"></li>
             <li id="card-inline"><input type="image" name="submit" border="0" alt="submit" src="../static/images/thumbdown.png" style="width:30px; height:30px; margin-left:8px;"></li>
              <li id="card-inline">Date Posted</li>
              <li id="card-inline">Author</li>
          </ul>

          <div class="card">
            <ul>
              <li>Top Questions</li>
            </ul>
          </div>
          {% for que in ques %}
          {% if id==que.qid %}
          <div class="card">
            <ul>
              <li><a href="/meetups/{{meetup.mid}}/{{que.qid}}" style="color:black;">{{que.qtitle}}</a></li>
              <li id="card-inline"><input type="image" name="submit" border="0" alt="submit" src="../static/images/thumbup.png" style="width:30px; height:30px; margin-right:8px;"></li>
              <li id="card-inline"><input type="image" name="submit" border="0" alt="submit" src="../static/images/thumbdown.png" style="width:30px; height:30px; margin-left:8px;"></li>
              <li id="card-inline">Date Posted</li>
              <li id="card-inline">Date Posted</li>
              <li id="card-inline">Author</li>
            </ul>
          </div>
          {% endif %}
          {% endfor %}
                {% endif %}
                          {% endfor %}



          </div>
        </div>

        <footer id="container_bottom" >
            <div class="footer_content"><ul>
                        <li><a href="about.html">About us</a></li>
                        <li><a href="terms.html">terms</a></li>
                        <li>  <a>Facebook</a></li>
                        <li> <a>Twitter</a></li>
                        <li>   <a>LinkedIn</a></li>

                    </ul>
            </div>
        </footer>

    </div>
    </body>
</html>
